<ion-view view-title="Lista de notificações">
    <ion-content class="padding">
        <div class="card padding border-balanced">
            <div class="item item-divider">
                <div class="row" ng-click="showFilters(filtersShowing)">
                    <div class="col col-50">
                        <h2>Filtros</h2>
                    </div>
                    <div class="col col-50">
                        <button class="button button-small button-clear button-dark right" ng-class="{'ion-minus' : filtersShowing == true, 'ion-plus' : filtersShowing == false}" ></button>
                    </div>
                </div>
            </div>
            <div id="collapse_filtro" class="item item-text-wrap" ng-show="filtersShowing">
                <div class="list">
                    <label class="item item-input item-select">
                        <div class="input-label">
                        Filho
                        </div>
                        <select ng-model="filters.filho" ng-options="filho.nome for filho in childList">
                            <option value="">Selecione</option>
                        </select>
                    </label>
                </div>
                <onezone-datepicker datepicker-object="onezoneDatepicker">
                    <button class="button button-block button-outline button-positive show-onezone-datepicker">
                        {{onezoneDatepicker.date | date:'dd/MM/yyyy'}} 
                    </button>
                </onezone-datepicker>
            </div>
        </div>
        <div class="card padding" ng-repeat="not in notificationList | orderBy: 'ciente'" ng-class="{'assertive-bg' : not.tipo.id === 1, 'balanced-bg' : not.tipo.id === 2, 'positive-bg' : not.tipo.id === 3}" ng-click="showModal(not)">
            <div class="item item-divider" ng-class="{'assertive-bg' : not.tipo.id === 1, 'balanced-bg' : not.tipo.id === 2, 'positive-bg' : not.tipo.id === 3}">
                <div class="row card-header">
                    <div class="col col-50"><span>{{not.tipo.descricao}}</span></div>
                    <div class="col col-50"><span class="right">{{not.data}}</span></div>
                </div>
            </div>
            <div class="item item-text-wrap">
                <div class="row">
                    <div class="col truncate">
                        {{not.mensagem}}
                    </div>
                </div>
            </div>
            <div class="item item-divider center" ng-if="!not.ciente" style="font-size: 0.8rem">
                <span>Você ainda não visualizou esta notificação <i class="ion-information-circled"></i></span>
            </div>
        </div>
    </ion-content>

    <script id="templates/modal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-dark">
            <h1 class="title">Notificação</h1>
            <button class="button button-clear button-primary ion-close" ng-click="modal.hide()"></button>
        </ion-header-bar>
        <ion-content class="padding">
            <div class="card padding">
                <div class="item item-divider" ng-class="{'assertive-bg light' : notSelect.tipo.id === 1, 'balanced-bg' : notSelect.tipo.id === 2, 'positive-bg' : notSelect.tipo.id === 3}">
                    <div class="row">
                        <div class="col">
                            <b>Código: {{notSelect.id}}</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-50"><span>{{notSelect.tipo.descricao}}</span></div>
                        <div class="col col-50"><span class="right">{{notSelect.data}}</span></div>
                    </div>
                </div>
                <div class="item item-text-wrap">
                    <div class="row">
                        <div class="col"><strong>Mensagem</strong></div>
                    </div>
                    <div class="row">
                        <div class="col"><span>{{notSelect.mensagem}}</span></div>
                    </div>
                </div>
                <div class="item item-divider">
                    <ion-radio ng-model="notSelect.ciente" ng-value="true" ng-click="showModalObs()">Estou Ciente</ion-radio>
                </div>
            </div>
        </ion-content>
    </ion-modal-view>
    </script>

    <script id="templates/modalObs.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-dark">
            <h1 class="title">Observação</h1>
            <button class="button button-clear button-primary ion-close" ng-click="modalObs.hide()"></button>
        </ion-header-bar>
        <ion-content class="padding">
            <div class="card padding">
                <div class="item item-divider" ng-class="{'assertive-bg light' : notSelect.tipo.id === 1, 'balanced-bg' : notSelect.tipo.id === 2, 'positive-bg' : notSelect.tipo.id === 3}">
                    <div class="row">
                        <div class="col wrap">
                            <b>Caso tenha alguma observação para a coordenação, descreva no campo abaixo:</b>
                        </div>
                    </div>
                </div>
                <div class="item item-text-wrap">
                    <div class="row responsive-sm">
                        <div class="col">
                            <ion-textarea>
                                <textarea class="text-input" autocomplete="off" autocorrect="off" rows="10"></textarea>
                            </ion-textarea>
                        </div>
                    </div>
                </div>
                <div class="item item-divider">
                    <button class="button button-full button-balanced" ng-click="sendMessage()">Enviar</button>
                </div>
            </div>
        </ion-content>
    </ion-modal-view>
    </script>
</ion-view>

<script src="js/app.func.js"></script>