<ion-nav-bar class="bar-stable">  
  <ion-nav-back-button>
  </ion-nav-back-button>
</ion-nav-bar>

<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Chamada" icon-off="ion-clipboard" icon-on="ion-clipboard" href="#/tab/professor">
    <ion-nav-view name="tab-professor"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Relatório(?)" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/responsavel">
    <ion-nav-view name="tab-responsavel"></ion-nav-view>
  </ion-tab>

</ion-tabs>